# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/

# Environment variables
.env

# IDE / OS junk
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Data (optional - if you don’t want to push raw datasets)
Data/
